@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #24252a;
  box-sizing: border-box;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}
.logo {
  cursor: pointer;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links a:hover {
  color: aqua;
}

button{
    transition:all 0.3s ease 0s; 
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
